<meta charset="UTF-8">
<meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>

<title>Stock PHP</title>

<link rel="stylesheet" href="<?= style('reset.css') ?>"/>
<link rel="stylesheet" href="<?= style('index.css') ?>"/>

<link rel="stylesheet" href="<?= style('form.css') ?>"/>
<link rel="stylesheet" href="<?= style('table.css') ?>"/>

<link rel="stylesheet" href="<?= style('dropdown.css') ?>"/>
<script src="<?= script('dropdown.js') ?>" defer></script>

<script src="<?= script('index.js') ?>" defer></script>
