<!DOCTYPE html>
<html lang="pt-br">

<head>
    <?= template('head') ?>
</head>

<body>

<header>
    <a href="/"><</a>
</header>

<main class="container-center">
    <div class="w-50">
        <form method="POST" action="/products/<?= $id ?>" class="form">
            <input type="hidden" name="_method" value="PUT">

            <div class="form_group">
                <label for="name" class="form_label">Name</label>
                <input type="text" id="name" name="name" class="form_input" required/>
            </div>

            <div class="form_group">
                <label for="description" class="form_label">Description</label>
                <textarea class="form_input" id="description" name="description"></textarea>
            </div>

            <div class="form_group">
                <label for="price" class="form_label">Price</label>
                <input type="text" id="price" name="price" class="form_input" required/>
            </div>

            <div class="form_group">
                <label for="quantity" class="form_label">Quantity</label>
                <input type="text" id="quantity" name="quantity" class="form_input"/>
            </div>

            <button class="form_button">Update Product</button>
        </form>
    </div>
</main>

</body>
</html>