<!DOCTYPE html>
<html lang="pt-br">

<head>
    <?= template('head') ?>
</head>

<body>

<header>
    <a href="/"><</a>
</header>

<main class="container">
    <a href="/products/create">Create a new product +</a>

    <table class="table">
        <thead class="table_head">
        <tr class="table_line">
            <th class="table_head_cell">ID</th>
            <th class="table_head_cell">Name</th>
            <th class="table_head_cell">Price</th>
            <th class="table_head_cell">Quantity</th>
            <th class="table_head_cell">Description</th>
            <th class="table_head_cell">Creation Date</th>
            <th class="table_head_cell"></th>
            <th class="table_head_cell"></th>
        </tr>
        </thead>

        <tbody class="table_body">

        <?php foreach($paginate['items'] as $item): ?>
        <tr class="table_line">
            <td class="table_cell"><?= $item['id'] ?></td>
            <td class="table_cell"><?= $item['name'] ?></td>
            <td class="table_cell-center"><?= $item['price'] ?></td>
            <td class="table_cell-center"><?= $item['quantity'] ?></td>
            <td class="table_cell"><?= $item['description'] ?></td>
            <td class="table_cell-center"><?= $item['created_at'] ?></td>
            <td class="table_cell-center">
                <a href="/products/update/<?= $item['id'] ?>">Update</a>
            </td>
            <td class="table_cell-center">
                <form method="POST" action="/products/<?= $item['id'] ?>">
                    <input type="hidden" name="_method" value="DELETE"/>

                    <button>DELETE</button>
                </form>
            </td>
        </tr>
        <?php endforeach; ?>

        </tbody>
    </table>

    <div>
        <?php if($paginate['has_previous_page']): ?>
        <button id="btn-previous">Previous</button>
        <?php endif; ?>

        <p><?= $paginate['page'] ?></p>

        <?php if($paginate['has_next_page']): ?>
        <button id="btn-next">Next</button>
        <?php endif; ?>
    </div>
</main>

<script>
    const btnPrevious = document.querySelector('#btn-previous')
    const btnNext = document.querySelector('#btn-next')
    const url = new URL(location.href)

    let page = Number("<?= $paginate['page'] ?>")

    btnPrevious?.addEventListener('click', () => {
        const hasPreviousPage = Boolean("<?= $paginate['has_previous_page'] ?>");

        if (!hasPreviousPage) return;

        page--;

        url.searchParams.set('page', String(page));
        location.href = url.href;
    })


    btnNext?.addEventListener('click', () => {
        const hasNextPage = Boolean("<?= $paginate['has_next_page'] ?>");

        if (!hasNextPage) return;

        page++

        url.searchParams.set('page', String(page));
        location.href = url.href;
    })
</script>

</body>
</html>